<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-4">
        <app-currencies-list></app-currencies-list>
    </div>
    <div class="col">

      <!-- <app-currency-chart></app-currency-chart> -->

      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="data"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>

      <app-currency-table></app-currency-table>
      
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>

